# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: UserProfileService CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  JWT_SECRET_TOKEN: d48b5528be3aa90d6029c2c41344efc423e64863baee9916a1370ad8a3d0b7fbefb78ddcf49b5bf557b9adeb19a1f2a22153868c1d8c070728393343b9de67ca
  REFRESH_TOKEN: d035fc5eb9047053dbb1f6374877b9ee43e42f2de99fdc32b013f0ca125eb256953bbc5398af570870d8cc22a9f4e6c66d0b964615b552e0d7f6fb32acb1d99d
  DB_HOST: localhost
  DB_PORT: 27017
  DB_NAME: UserProfileDB
  NODE_DOCKER_PORT: 8080
  
jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./UserProfileService
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        mongodb-version: ['5.0']

    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    
    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.6.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}
        
    - run: yarn install
    - run: yarn test
